body{
	background-color: white;
	text-align: center;

}
.container{
	background-color:white;
	margin:0px auto;
	height:420px;
	padding:12px 14px;
}
.container2{
	background-color: white;
	height:40px;
	padding:0px 5px 10px;

}
.table{
	margin:0px 8px 2px ;
	background-color: white;

}
.table td{
	height:30px;
	margin:5px;
	padding:5px;

}
.table td a{
	background-color:white;
	color:blue;
	font-family: Arial,sans-seriff;
	font-size: 12px;
	padding:8px 95px;
	opacity: 0.3;
	text-align: center;
	border:none;
}
.table td a:hover{
	opacity:1;
	text-decoration: none;
	color:blue;
}
.connect{
	background-color:white;
	padding:20px;
	height:120px;
	width:100%;

}
.text span{
	text-align: center;
	background-color: white;
	padding:10px;
	height:40px;
	width:100%;
	
}
.form{
	background-color: white;
	padding: 20px;
	height:170px;
	width:100%;
	
}
.forget{
	height:30px;
	padding: 5px;
	background-color: white;
	text-align: center;
	font-size: 14px;
	font-family: Arial,sans-seriff;
}
.forget a:hover,a:active{
	text-decoration: none;
	opacity:1;
}
.btn-ss{
	background-color:#1b518c;
	color:white; 
	border:none;
}
.btn-kk{
	background-color: #03a9f4;
	border:none;
	color:white;
}
.btn-sub{
	background-color:#141a3a;
	border:none;
	color:white;
}
