body{
	background-color: white;
}
.container{
	background-color: white;
	width:40%;
	margin:0px auto;
	margin-top: 20px;
	padding: 15px;
	height: 630px;
	border-radius: 4px;
	border:2px solid grey;
}
.container1{
	height:45px;
	font-family: Verdana,sans-seriff;
	text-align: center;
	font-size:16px;
	border-radius: 4px;
	display:block;
	opacity:0.4;
	text-decoration: none;
	color:blue;
	text-align: center;
	padding-top: 8px;
}
.container1 .row .col-xs-6:hover{
	opacity:1;
	text-decoration: none;
}
.container2 .row{
	height:100px;
}
.container2 button,.container2 .col-xs-1{
	height:70px;
	background-color: #3B5998;
	color:white;
	font-size: 16px;
	font-family: Verdana,sans-seriff;
	border-radius: 5px;
	margin-top: 15px;
}
.container2 .col-xs-1{
	width:30px;
}
.container2 .col-xs-1 a,.container3 .col-xs-1 a{
	text-align: center;
	color: white;
	margin-top: 10px;
	font-size:24px; 
}
.container3 .row{
	height:100px;
}
.container3 button,.container3 .col-xs-1{
	height:70px;
	color:white;
	font-size: 16px;
	font-family: Verdana,sans-seriff;
	border-radius: 5px;
	background-color: #00B6F1;
	margin-top: 15px;
}
.container4{
	height:50px;
	} 
.container4 div{
	font-family: Verdana,sans-seriff;
	text-align: center;
	font-size:16px;
	padding: 10px;
}
.container5{
	height:250px;
	margin:0px;
	padding-top:20px;
}

.container5 input[type=email],input[type=password]{
    font-family: Verdana,sans-seriff;
	text-align: left;
	font-size:16px;
	padding:25px;
	border-radius:5px;
	box-sizing: border-box;
	box-shadow:-1px 0px 1px 0px; 

}
.container5 span{
	padding:25px;
	padding-bottom:10px; 
	background-color: white;
	border-color: white;
	font-size: 16px;
	box-shadow:-2px 0px 2px 0px;
}

.container5 input[type=submit]{
	font-family: Verdana,sans-seriff;
	text-align: center;
	font-size:16px;
	padding:20px;
	border-radius:4px;
	
}
.container5 .btn{
	background-color:#10152D;
	color:white;
	height:70px;
}
.container6{
	height:40px;
	margin:0px;
	text-align: center;
	font-size:14px;
}
